doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/artstyle.css')
    
    meta(charset='utf-8')
    meta(name='viewport', content='width-device-width, initial scale=1.0, maximum-scale=1.0, user-scalable=no')
    
    link(rel='icon', type='image/png', href='images/j.png')
    

    block content
       

        body
        
        header
            a(href='/')
                img(src='images/logo.png', alt='Home', style='width: 150px; height: 40px; margin-left: 10px;')
                
                
         .container
            ul.mainmenu
                li
                    a.sub-mainmenu(href='#')
                        | WHAT I DO
                    ul
                        li
                            a(href='/music') Music
                        li
                            a(href='/woodwork') Woodwork
                        li    
                            a(href='/art') Art
                        li
                            a(href='/tech') Tech
                        li
                            a(href='/food') Food


                li
                    a(href='#journal')
                        | JOURNAL

                li
                    a(href='#contact')
                        | CONTACT

                li      
                    a.sub-mainmenu(href='#')
                        | USERS
                    ul
                        li
                            a(href='/userlist') User List

                        li
                            a(href='/register') Register
