
extends layout

block content    
    body

        header
            a(href='/')
                img(src='images/logo.png', alt='Home', style='width: 190px; height: 100px; margin-left: 20px;')



        .container
            ul.mainmenu
                li
                    a.sub-mainmenu(href='#')
                      | WHAT I DO
                    ul
                        li
                            a(href='#music') Music
                        li
                            a(href='#woodworking') Woodworking
                        li    
                            a(href='#art') Art
                        li
                            a(href='#tech') Tech
                        li
                            a(href='#food') Food


                li
                    a(href='#journal')
                        | JOURNAL

                li
                    a(href='#contact')
                        | CONTACT

                li      
                    a.sub-mainmenu(href='#')
                        | USER CONTROL
                    ul
                        li
                            a(href='/userlist') User List

                        li
                            a(href='/register') Register




     //                   
        .image
            p 
                img(src='images/allium_by_takmaj-d7mc4ve.jpg')

            p
                img(src='images/dandelions_by_takmaj-d7ioecv.jpg')

            p 
                img(src='images/flamingos_by_takmaj-d7uuu33.jpg')


        p#art


