doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style3.css')

        meta(charset='utf-8')
        meta(name='viewport', content='width-device-width, initial scale=1.0, maximum-scale=1.0, user-scalable=no')

        link(rel='icon', type='image/png', href='images/j.png')

        link(rel='stylesheet', href='stylesheets/style.css')


block content

    body

        header
            a(href='/')
                img(src='images/logo.png', alt='Home', style='width: 150px; height: 40px; margin-left: 10px;')

    

