extends layout

block content


            
    body
        header
        
            a(href='/')
                img(src='images/logo.png', alt='Home', style='width: 150px; height: 40px; margin-left: 10px;')
    
        .container
            h1= title


            form#formRegister(name='adduser',method='post',action='adduser')
                input#inputFirstName(type="text", placeholder="First Name", name="firstname")
                | &nbsp
                input#inputLastEmail(type="text", placeholder="Last Name", name="lastname")
                | &nbsp
                input#inputAlias(type="text", placeholder="Alias", name="alias")
                | &nbsp
                input#inputEmail(type="text", placeholder="E-Mail", name="email")
                | &nbsp
                button#btnSubmit(type="submit") Submit


