
html {

}




body {
    margin-left: 0px;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    background-color: #fff;
    background-image: url("/images/allium_by_takmaj-d7mc4ve.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    


        
}


header{
    margin: 0px;
    padding: 0px;
    text-align: left;
    
}


ul.mainmenu {  
    background: #333; 
    height: 30px;
    width: 100%; 
    position: relative;  

}

ul.mainmenu > li { 
    align-self: auto;
    float: left; 
    position: relative;  
}

ul.mainmenu ul {
    background: #444; 
    display: none; 
    position: relative;
    left: 0; top: 100%;
}

ul.mainmenu a { 
    cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px; 
    padding: 0 10px; 
}

ul.mainmenu li { list-style: none; }

ul.mainmenu li:hover { background: #868282;  }
ul.mainmenu li:hover ul { display: block;  }


ul.mainmenu a{  
    text-decoration: none;
}



    
    

.list{
    
    margin: 50px;
    padding: 0px;
    text-align: left;
}

.container {
    margin-left: 0  px;
    position: relative;
    width: 100%;
}



.right {
    position: absolute;
    right: 0px;
    width: 300px;
    background-color: #b0e0e6;
}


a {
  color: #000;
}


.image {
    text-align: center;
    border(100px);
    
}